body {
	font-family: Arial, helvetica, sans-serif;
}
header {
	text-align:center;
	background-color:PaleGreen;
	color:Black;
	padding:40px;
}
header h2{
	font-size: 20px;
	margin-bottom: 10px;
}
header h3{
	font-size:10px;
}
.form{
	background:white;
}
tr{
	border: 2px solid Green;
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	
}
input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:PaleGreen;
}
input[type=submit] {
    padding:15px 25px; 
    background:PaleGreen; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 15px;
    border-radius: 20px; 
}

 .click {
  font-size:15px;
  font-color: LightGreen;
  font-family:Arial,helvetica,sans-serif;
  text-align: center;
}
footer {
	background-color:PaleGreen;
	padding:20px;
}